<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Fifa_ManagerEntities" connectionString="metadata=res://*/FifaManager.csdl|res://*/FifaManager.ssdl|res://*/FifaManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=Fifa_Manager;persist security info=True;user id=UserBackEnd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>